.services {
    min-height: 900px;
    padding: 70px 0;
    background: rgba(26, 26, 26, 1);
    position: relative;
    &__bg {
        position: absolute;
        top: 10px;
        right: 50px;
        opacity: .1;
    }
    &__subtitle {
        background: linear-gradient(337deg,$violet 74%,$blue 94%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        margin-bottom: 20px;
    }
    &__button {
        display: flex;
        justify-content: space-between;
        width: 140px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &__block {

    }
    &__picture {
        
    }
}