.solutions {
    background-color: #fbfbfb;
    min-height: 1000px;
    padding: 70px 0 50px 0;
    position: relative;
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 20px;
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
    }
    &__tab {
        list-style-type: none;
        color: #000;
        background-color: #a1a1a1;
        border: 2px solid #000;
        padding: 10px;
        border-radius: 25px;
        cursor: pointer;
        &_active {
            background-color: #eb0404;
        }
    }
    &__content {
        visibility: hidden;
        height: 0;
        &_active {
            height: auto;
            visibility: visible;
        }
    }
}