@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .solutions {
        &__grid {
            grid-template-columns: 1fr .7fr;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .solutions {
        padding: 10px 0 10px 0;
        &__grid {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr minmax(160px, auto);
        }
        &__tabs {
            align-items: center;
        }
    }
}