@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .form {
        width: 340px;
        &_stock {
            height: 530px;
        }
    }
    .form-calc {
        &__wrapper {
            flex-direction: column;
            #summ {
                order: 3;
            }
        }
        &__block {
            width: 75%;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .form {
        padding: 25px 15px;
        &_stock {
            width: unset;
            height: unset;
            top: unset;
            bottom: -50px;
            z-index: 2;
        }
        &_calc {
            width: unset;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .form {
        &__select {
            select {
                padding: 4px 4px 4px 10px;
            }
        }
        &_modal {
            width: 300px;
        }
    }
}