@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz14 {
            font-size: 13px;
        }
        &_fz22 {
            font-size: 17px;
        }
        &_fz24 {
            font-size: 14px;
        }
        &_fz25 {
            font-size: 15px;
        }
        &_fz30 {
            font-size: 16px;
        }
        &_fz45 {
            font-size: 25px;
        }
        &_fz46 {
            font-size: 20px;
        }
        &_fz80 {
            font-size: 25px;
        }
        &_fz99 {
            font-size: 43px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}