.title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    &_gradient {
        background-color: transparent;
        background-image: linear-gradient(120deg, $blue 0%, $violet 25%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &_white {
        color: #fff;
    }
    &_fz13 {
        font-family: "Roboto", Sans-serif;
        font-size: 13px;
        font-weight: 400;
        text-transform: none;
        &_weight {
            font-family: "Montserrat", Sans-serif;
            font-weight: 500;
            color: #1a1a1a;
        }
    }
    &_fz14 {
        color: #454545;
        font-family: "Fira Sans", Sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: unset;
        &_white {
            color: white;
        }
    }
    &_fz15 {
        font-size: 15px;
        font-weight: 400;
        color: #FFFFFFB0;
        text-transform: none;
        transition: .5s;
        &_weight {
            font-weight: 600;
            color: #fff;
        }
        &_font {
            font-family: "Fira Sans", Sans-serif;
            color: #FFFF;
        }
    }
    &_fz16 {
        color: #454545;
        font-family: "Fira Sans", Sans-serif;
        font-size: 15px;
        font-weight: 300;
        text-transform: none;
        transition: 1s;
        &_weight {
            font-weight: 700;
            font-family: "Montserrat", Sans-serif;
        }
    }
    &_fz18 {
        color: #A1A1A1;
        font-family: "Fira Sans", Sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-transform: unset;
        &_blackFontWeight {
            color: #1A1A1A;
            font-family: "Montserrat", Sans-serif;
            font-weight: 700;
        }
    }
    &_fz20 {
        color: #1A1A1A;
        font-size: 20px;
    }
    &_fz22 {
        font-family: "Fira Sans", Sans-serif;
        font-size: 22px;
        font-weight: 400;
        text-transform: unset;
    }
    &_fz23 {
        font-size: 23px;
    }
    &_fz24 {
        font-family: "Fira Sans", Sans-serif;
        font-size: 25px;
        font-weight: 300;
    }
    &_fz25 {
        font-size: 25px;
        font-weight: 700;
    }
    &_fz30 {
        font-size: 30px;
        font-weight: 400;
        font-family: "Fira Sans", Sans-serif;
        &_unset {
            text-transform: unset;
        }
    }
    &_fz44 {
        font-size: 45px;
    }
    &_fz45 {
        color: #1A1A1A;
        font-size: 45px;
        &_white {
            color: #fff;
        }
    }
    &_fz46 {
        font-size: 46px;
        font-weight: 400;
        line-height: 1em;
        font-family: "Fira Sans", Sans-serif;
    }
    &_fz99 {
        font-size: 99px;
        font-weight: 800;
        text-shadow: 0px 0px 5px rgb(170 66 243 / 35%);
    }
}