.promo {
    position: relative;
    z-index: 3;
    &__img {
        width: 100%;
        max-height: 100vh;
        filter: brightness(60%);
    }
    &__wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__title {
        display: flex;
        flex-direction: column;
        line-height: 100px;
    }
    &__subtitle {
        width: 600px;
        min-height: 42px;
        background-image: linear-gradient(120deg, $blue 20%, $violet 100%);
        padding: 4px;
        text-align: center;
    }
    &__button {
        display: flex;
        align-items: center;
        margin-top: 40px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        line-height: 25px;
        margin-left: 10px;
    }
}

.promo-arrows {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    height: 105px;
    background-color: #1A1A1A;
    z-index: 2;
    &__logo {
        position: absolute;
        bottom: 10px;
        left: 350px;
        z-index: 5;
    }

    &__wrapper {
        position: absolute;
        display: flex;
        left: 0;
        height: 100%;
    }
    &__prev, &__next {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        border: none;
        width: 150px;
        height: 100%;
        background-color: #1A1A1A;
        &:hover {
            background-image: linear-gradient(120deg, $blue 0, $violet 100%);
        }
        &:hover .title_fz15 {
            color: #fff;
        }
    }
    &__left {
        margin-left: 10px;
    }
    &__right {
        order: -1;
        margin-right: 10px;
    }
}

.promo-phone {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 105px;
    background-color: transparent;
    background-color: #ffffff52;
    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
        height: 100%;
        background-color: #FFF;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__block {
        text-align: right;
        line-height: 15px;
    }

    &__divider {
        width: 1px;
        height: 100%;
        background-color: rgb(160, 160, 160);
    }

    &__img {
        background-color: $blue;
        border-radius: 100%;
        padding: 15px;
    }
    &__svg {
        height: 15px;
    }

    &__button {
        display: flex;
        align-items: center;
        &:hover .title_fz16 {
            color: #fff;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        line-height: 17px;
    }
    &__number {
        transition: 1s;
        &:hover {
            color: $blue;
        }
    }
}

// header {

// }

