.stock {
    min-height: 600px;
    position: relative;
    padding: 60px 0 50px 0;
    &__wrapper {
        display: flex;
        align-items: center;
        line-height: 100px;
    }
    &__title {
        margin-right: 20px;
    }
    &__grid {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 250px;
        gap: 50px;
        position: relative;
    }
    &__subtitle {
        margin-bottom: 30px;
    }
}