.button {
    background-image: linear-gradient(120deg, $blue 60%, $violet 100%);
    border-radius: 100px;
    border: 1px solid $blue;
    transition: 1s;
    &:hover {
        background-image: linear-gradient(120deg, $blue 0, $violet 100%);
    }
    &_header {
        padding: 20px;
        transition: 1s;
    }
    &_phone {
        background: #ffffff;
        padding: 8px 20px;
    }
    &_services {
        padding: 15px;
    }
    &_form {
        background-image: linear-gradient(120deg, #061533 0%, $violet 100%);
        border: none;
        padding: 8px;
        width: 120px;
        height: 40px;
        transform: translateY(50%);
    }
}