@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .button {
        &_brief {
            padding: 8px 2px 8px 5px;
            div {
                &:nth-child(1) {
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .button {
        &_borderNone {
            border: none;
            &:hover {
                background-image: unset;
            }
        }
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .button {
        &_phone {
            padding: 0px 10px;
        }
        &_tabs {
            width: 100%;
        }
    }
    .button-call {
        &_margin {
            margin: 5px;
        }
    }
}